apiVersion: apps/v1
kind: Deployment
metadata:
  name: chat-with-epi
spec:
  selector:
    matchLabels:
      app: chat-with-epi
  template:
    spec:
      containers:
      - name: chat-with-epi
        image: ghcr.io/gravitate-health/chat-with-epi:latest
        env:
        - name: SERVER_URL
          value: "https://gravitate-health.lst.tfo.upm.es/"
        - name: MODEL_URL
          value: "http://tinman.lst:11434"
        resources: {}
