apiVersion: apps/v1
kind: Deployment
metadata:
  name: chat-with-epi
spec:
  selector:
    matchLabels:
      app: chat-with-epi
  template:
    spec:
      containers:
      - name: chat-with-epi
        image: ghcr.io/gravitate-health/chat-with-epi:latest
        env:
        - name: FHIR_IPS_URL
          value: "http://fhir-server-ips:8080/ips/api/fhir"
        - name: FHIR_EPI_URL
          value: "http://fhir-server-epi:8080/epi/api/fhir"
        - name: MODEL_URL
          value: "http://tinman.lst:11434"
        resources: {}
